
:root {
    --unread-clr: #e5263c;
}



.main {
    padding: 0.5rem 1rem;

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        margin: 0.5rem 0;
    
        width: 100%;
        align-self: center;
    
        .title {
            font-size: 24px;
            font-weight: 700;
        }
    
        .search {
            width: 100%;
            max-width: 300px;
            margin-left: auto;
        }
    
        #new-channel {
            justify-self: flex-end;
        }
    }
}

#no-selected-channel {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    gap: 0.5rem;

    opacity: 0.7;
}

.chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 4px;

    #channel-list {

        width: min(25%, 30em);

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: var(--white);

        .title-container {

            margin: 0 0.5rem;
            padding-top: 0.5rem;

            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .title {
                font-size: 1.5em;
                font-weight: 700;
            }

        }
        #channel-list-wrapper {
            height: 100%;
            display:flex;
            flex-direction: column;
            overflow-y: auto;
        }


        .search {
            margin : 0.5em;
            user-select: none;
        }

        border-right: 1px solid var(--border-clr);

    }

    #channel-details {
        width: 100%;
        display:flex;
        flex-direction: row;

        background-color: var(--white);

        .channel-content {

            border-right: 1px solid var(--border-clr);

            padding: 1rem;

            height:100%;
            width:100%;

            display: flex;
            flex-direction: column;

            > * {
                width: 100%;
            }


            .channel-messages {
                height: 100%;
                overflow-y: auto;
            }

            .channel-title {
                display:flex;
                flex-direction: row;
                align-items: center;
                gap: 0.75rem;

                #channel-icon-wrapper {

                    display:flex;
                    justify-content: center;
                    align-items: center;

                    .channel-icon {
                        width: 3rem;
                        height: 3rem;
    
                        &.group-icon {
                            font-size: 1.5rem;
                        }
                    }}


                .channel-name {
                    font-size: 1.5em;
                    font-weight: 700;
                }
            }

            .channel-input-container {
                display: flex;
                flex-direction: row;
                gap: 0.25rem;
                align-items: flex-start;
                justify-content: flex-start;
                border: 1px solid var(--border-clr);
                border-radius: 0.5rem;
                padding: 0 0.5rem;


                max-height: 50%;

                .icon-button {
                    margin: 0.5em auto;
                }


                #message-input {

                    &:empty:before {
                        content: "Type a message";
                        opacity: 0.7;
                    }

                    padding: 0.5em 0;

                    align-self: center;

                    max-height: 100%;
                    overflow-y: auto;

                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: inherit;
                    border-radius: 4px;
                }
            }
        }

        .channel-sidebar {
            padding: 1rem;

            display:flex;
            flex-direction: column;
            gap: 0.5em;

            width: max(20%, 14rem);

            background-color: var(--white);

            .channel-sidebar-title {
                font-size: 1.5em;
                font-weight: 700;
            }
            
            .channel-members {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
        }

    }
}


.channel-member {
    display:flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-start;
    padding: 0.25em 0;

    .channel-member-name {
        font-size: 1em;
        font-weight: 400;
    }

    .channel-member-avatar {
        width: 2em;
        height: 2em;
    }
}


    .channel {

    text-decoration: none;
    color: inherit;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem;
    gap: 1em;
    border-bottom: 1px solid var(--border-clr);

    .channel-details {
        .channel-name {
            font-size: 1em;
            font-weight: 700;
        }
    
        .channel-preview {
            opacity: 0.7;
        }

        width: 100%;
    }

    .channel-icon {
        width: 4rem;
        height: 4rem;
    }

    .channel-actions {
        opacity: 0;

        &:hover {
            opacity: 1 !important;
        }
    }


    &.unread {
        .channel-icon::after {
            font-family: var(--font-family);
            position: absolute;
            bottom: 0;
            right: 0;
            content: var(--unread-count, "0");

            font-size: 0.8rem;
            font-weight: 500;

            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            min-width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            padding: 2px;

            background-color: var(--unread-clr);
            color: var(--white);
        }
        .channel-icon {
            position: relative;
            overflow: visible;
        }
    }

    &:hover {
        background-color: #c4c9d2;
        cursor: pointer;

        .channel-actions {
            opacity: 0.5;
        }

    }

    &.selected {
        background-color: var(--make-it-all-highlight);
    }
}

.channel-icon.group-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.75rem;

    &.colour-0 {
        background-color: #fe8192;
    }

    &.colour-1 {
        background-color: #ffbd8a;
    }

    &.colour-2 {
        background-color: #50e3c2;
    }

    &.colour-3 {
        background-color: #8fc3ff;
    }

    &.colour-4 {
        background-color: #ff99e2;
    }
}

/* modal styles */
#modal-content.new-channel-modal {
    & > * {
        width: 100%;
    }

    #group-name-wrapper {
        #group-name {
            width: 100%;
        }

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;

            #group-name {
                pointer-events: none;
            }
        }
    }

    .recipient-wrapper {
        & > * {
            height: 1.75rem;
        }
    
        #recipient-list {
            display: flex;
            flex-direction: row;
            gap: 0.125em;
            
            .employee-list-item {
                display:flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 0.7em;
            }
        }
    
        #recipient-placeholder {
            opacity: 0.7;
        }
    }



    .search-wrapper {

        .search {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .search-results {
            /* 4 results*/
            height: 10em; 
            overflow-y: auto;
    
            border: solid 2px rgb(208, 212, 218);
            box-sizing: unset;
            border-top: none;
            
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            background-color: #ebecee;

            .channel-member {
                padding: 0.25em 0.5em;
                &:hover {
                    background-color: #c4c9d2;
                    cursor: pointer;
                }
            }
        }
    }

}

.message {
    display:flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em 0; 
    justify-content: space-between;


    .message-left-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .message-avatar {
        width: 3rem;
        height: 3rem;
    }

    

    .message-content-wrapper {

        .message-author {
            font-weight: 700;
        }

    }

    &:hover {
        .message-buttons {
            opacity: 1;
        }
    }

    .message-buttons {
        opacity: 0;
        display: flex;
        flex-direction: row;
        gap: 0.25em;
        align-self: flex-end;
    }

}